@import 'styles/main.scss';

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  background-color: $bg;
  grid-template-rows: 1fr 11fr;
  grid-template-columns: 1fr;

  column-gap: 0.5rem;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    'logo'
    'main';
  & > div {
    border: 1px solid red;
  }
}
