@import 'styles/main.scss';

* {
  box-sizing: border-box;
}

.container {
  padding: 2.5rem;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-color: $bg;
  animation: grow 0.5s;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 9fr;
  row-gap: 2.5rem;
  grid-template-areas:
    'logo'
    'dashboard';
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
