@import 'styles/main.scss';

.container {
  grid-area: dashboard;
  display: grid;
  column-gap: $grid-gap;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 6fr 4fr;
  grid-template-areas: 'illustration info areas';

  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}
