.dashboardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 80vw;
  height: 100vh;
}

.illustrationInformation {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  width: 100%;
}
