@import 'styles/main.scss';

.areaContainer {
  @include area-container;
  position: relative;
  button {
    @include card-button;
  }
}

.cardTitle {
  @include area-card-title;
}

.deleteIcon {
  @include svg-icon-small;
  @include button-hover;
  position: absolute;
  top: 10px;
  right: 15px;
  fill: $highlights-font-color;
}

.inputContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  padding: 0.1rem 0;

  font-weight: 500;
  color: $highlights;

  & input {
    color: $highlights;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $highlights;
    text-align: center;
    outline: none;
  }

  &:first-of-type {
    margin-top: 2rem;
  }

  &:last-of-type {
    margin-bottom: 1rem;
  }
}

.buttonContainer {
}
