

.card {
  @include dashboard-panel;
  @include card;
  background-color: $bg-light;
  position: relative;

  grid-area: top-card;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  padding: 1rem;
  font-weight: 600;
}

.title {
  @include panel-title;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
