@import 'styles/main.scss';

.container {
  @include dashboard-panel;
  grid-area: info;

  display: grid;
  row-gap: $grid-gap;
  grid-template-rows: 4fr 6fr;
  grid-template-areas:
    'top-card'
    'bottom-card';
}
