.card {
  @include dashboard-panel;
  @include card;
  background-color: $bg-light;
  // opacity: 0.8;
  grid-area: bottom-card;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  font-weight: 600;
  & > * {
    opacity: 1;
  }
}
