.informationContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sensorInformation {
  background-color: burlywood;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  background-color: green;
}

.humidity {
  background-color: red;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 100%;
  height: 60%;
}
.chart {
  width: auto;
  height: 50%;
}
