@import 'styles/main';

.select {
  font-family: $titleFont;
  font-weight: 600;
  text-transform: uppercase;
  background: $bg;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  text-overflow: ellipsis;
  color: $fontColor;
  margin: 0.25rem 0.25rem;

  //TODO - fix
  padding-left: 1rem;
  &:hover {
    cursor: pointer;
  }
  & > * {
    text-align: center;
  }
}

.select::-ms-expand {
  display: none;
}

.error {
  color: red;
}
