@import 'styles/main.scss';

$svg-size: 150px;
$svg-color: $bg-illustration;
$container-size: 200px;

.container {
  position: relative;

  height: $container-size;
  max-height: $container-size;
  width: $container-size;
  max-width: $container-size;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.background {
  min-height: $svg-size;
  min-width: $svg-size;
  max-width: $svg-size;
  max-height: $svg-size;
  fill: $svg-color;
  stroke: $svg-color;
  stroke-width: 6;
  filter: saturate(1);
  stroke-miterlimit: 10;

  margin-top: 0.5rem;
}

.readingContainer {
  position: absolute;
  top: 50%;
  z-index: 1;

  & > * {
    color: $highlights;
  }
}

.cardTitle {
  text-transform: uppercase;
  color: $highlights;
  font-weight: 700;
}

.reading {
  color: $highlights-font-color;
}
