@import 'styles/main.scss';

.container {
  @include area-container;
  h3 {
    font-family: $titleFont;
    margin: 2px;
  }
}

.input {
  border: none;
  border-radius: $border-radius;
  color: $font-color;
  font-family: $main-font;
}
