@import 'styles/main.scss';

.areaContainer {
  @include area-container;
  color: $highlights;
}

.svg {
  @include svg-icon-small;
  stroke: $highlights;
  stroke-width: 0.5;
}

.settings {
  @include button-hover;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.cardTitle {
  @include area-card-title;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;

  p {
    font-size: 1rem;
  }
}
