@import 'styles/main';

.container {
  grid-area: bottom-card;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cronPanelModule {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  min-width: 100%;
  // border: 1px solid red;

  & > * {
    font-family: $titleFont;
  }

  //TODO - change into own block
  & h2 {
    @include panel-title;
    font-size: 1rem;
    left: 0;
    top: 0;
  }
}

.scrollPanelModule {
  overflow: scroll;
}

@mixin cron-selection {
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  margin: 0.5rem 0;
  align-items: center;
  & > * {
    margin: 0 0.5rem;
  }
}

.actionSelection {
  @include cron-selection;
  justify-content: center;
}

.timeAndDurationSelection {
  @include cron-selection;
  justify-content: space-around;
}

.cronScheduleButton {
  @include main-button;
  background-color: $highlights;
  color: $highlights-font-color;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.svg {
  @include svg-icon;
  position: absolute;
  right: 20px;
  top: 20px;
  stroke: black;
}

.selectionTags {
  font-weight: 500;
  color: $highlights;
}

$bg-time: $bg;

.timeSelect {
  background-color: $bg-time;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  outline: none;

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

  &::focus {
    background-color: $bg-time;
  }
  &::-webkit-datetime-edit-fields-wrapper {
    background-color: $bg-time;
    background: $bg-time;
  }

  &::-webkit-datetime-edit-ampm-field {
    background: $bg-time;
    background-color: $bg-time;
  }
}

.error {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba($dark, 0.2);
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  & > * {
    color: $bg;
  }
}
