@import 'styles/main.scss';

.card {
  @include dashboard-panel;
  @include card;
  background-color: $bg-light;
  position: relative;

  grid-area: top-card;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 1rem;
  font-weight: 600;
}
