@import 'styles/main';

.container {
  @include card;
  @include dashboard-panel;
  grid-area: areas;
  background-color: $bg-light;
}

.title {
  width: 100%;
  button {
    @include button-hover;
  }
}
