@import 'styles/main';

.container {
  @include card;
  @include dashboard-panel;
  grid-area: areas;
  background-color: $bg-light;
  padding: 1rem;
  position: relative;
}

.areasContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.panelTitle {
  @include panel-title;
}

.newAreaButton {
  @include main-button;
  background-color: $highlights;
  color: $highlights-font-color;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
