.d-flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.jc-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.flex-item__50 {
  width: 100%;
}

.flex-item__30 {
  width: 30%;
}

.flex-item__70 {
  width: 70%;
}

@media (min-width: 900px) {
  .flex-item__50 {
  width: 48%;
}

}
