@import './vars';

@mixin card {
  border-radius: $borderRadius;
  box-shadow: 0px 0px 10px 1px rgba($dark, 0.1);
}

@mixin dashboard-panel {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

@mixin button-hover {
  transition: all 0.25s ease;

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }
}

@mixin main-button {
  @include button-hover;
  height: 2.5rem;
  max-height: 2.5rem;
  width: 7.5rem;
  max-width: 7.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: $border-radius;
  font-weight: 700;
}

@mixin panel-title {
  text-transform: uppercase;
  font-family: $titleFont;
  color: rgb(44, 44, 44);
  position: absolute;
  font-size: 1.25rem;
  font-weight: 600;
  left: 10px;
  top: 10px;
}

@mixin svg-icon {
  max-width: 25px;
  max-height: 25px;
}

@mixin cron-button {
  @include button-hover;
  background-color: $bg;
  border: none;
  font-family: $titleFont;
  outline: none;
  font-size: 1rem;
  & span {
    transition: all 0.05s ease;
  }

  &:hover span {
    border-bottom: 2px solid $red;
  }
}
