.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 10px 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: $mainRed;
  margin: 10px 0;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}