$mainFont: 'Roboto', sans-serif;
$titleFont: 'Bebas Neue', cursive;
$font-color: #383838;
$red: rgb(237, 137, 119);
$green: rgb(210, 226, 146);
$yellow: rgb(252, 224, 141);
$blue: rgb(161, 188, 151);
$dark: rgb(98, 98, 91);
$bg: rgb(252, 240, 200);

$borderRadius: 10px;
