@import 'styles/main';

.dayContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0.5rem 0;
  min-height: 100px;

  & > * {
    margin: 0 0.5rem;
  }
}
