@import 'styles/main';

.select {
  // font-size: $base-size;
  text-transform: uppercase;
  background: transparent;
  border: none;
  outline: none;
  width: fit-content;
  text-overflow: ellipsis;
  color: $fontColor;
  &:hover {
    cursor: pointer;
  }
}

.error {
  color: red;
}
